{
  "compileOnSave": false,
  "compilerOptions": {
    "baseUrl": "./",
    "outDir": "./dist/out-tsc",
    "forceConsistentCasingInFileNames": true,
    "strict": true,
    "noImplicitOverride": true,
    "noImplicitReturns": true,
    "noFallthroughCasesInSwitch": true,
    "skipLibCheck": true,
    "sourceMap": true,
    "declaration": true,
    "module": "preserve",
    "moduleResolution": "bundler",
    "target": "ES2022",
    "lib": ["ES2022", "dom"],
    "useDefineForClassFields": false,
    "experimentalDecorators": true,
    "importHelpers": true,
    "isolatedModules": true,
    "paths": {
      "{{{npmName}}}": ["dist"],
      "{{{npmName}}}/forms": ["dist/forms"],
      "{{{npmName}}}/testing": ["dist/testing"]
    },
    "types": []
  },
  "angularCompilerOptions": {
    "compilationMode": "partial",
    "strictInjectionParameters": true,
    "strictInputAccessModifiers": true
  },
  "exclude": ["**/*.spec.ts"]
}
