{{>visibility}} class {{classname}}
{
		{{#vars}}
		{{#items.isEnum}}
		{{#items}}
		{{^complexType}}
{{>modelInnerEnum}}
		{{/complexType}}
		{{/items}}
		{{/items.isEnum}}
		{{#isEnum}}
		{{^complexType}}
{{>modelInnerEnum}}
		{{/complexType}}
		{{/isEnum}}
		{{#isEnum}}

		/// <summary>
		/// {{description}}{{^description}}Gets or Sets {{{name}}}{{/description}}
		/// </summary>
		{{#description}}
		/// <value>{{.}}</value>
		{{/description}}
		{{#example}}
		/// <example>{{.}}</example>
		{{/example}}
		{{^conditionalSerialization}}

		public {{{complexType}}}{{^complexType}}{{{datatypeWithEnum}}}{{/complexType}}{{^isContainer}}{{^required}}?{{/required}}{{/isContainer}} {{name}} { get; set; }
		{{#isReadOnly}}

		/// <summary>
		/// Returns false as {{name}} should not be serialized given that it's read-only.
		/// </summary>
		/// <returns>false (boolean)</returns>
		public bool ShouldSerialize{{name}}()
		{
				return false;
		}
		{{/isReadOnly}}
		{{/conditionalSerialization}}
		{{#conditionalSerialization}}

		{{^isReadOnly}}

		public {{{complexType}}}{{^complexType}}{{{datatypeWithEnum}}}{{/complexType}}{{^isContainer}}{{^required}}?{{/required}}{{/isContainer}} {{name}}
		{
				get{ return _{{name}};}
				set
				{
						_{{name}} = value;
						_flag{{name}} = true;
				}
		}
		private {{{complexType}}}{{^complexType}}{{{datatypeWithEnum}}}{{/complexType}}{{^isContainer}}{{^required}}?{{/required}}{{/isContainer}} _{{name}};
		private bool _flag{{name}};

		/// <summary>
		/// Returns false as {{name}} should not be serialized given that it's read-only.
		/// </summary>
		/// <returns>false (boolean)</returns>
		public bool ShouldSerialize{{name}}()
		{
				return _flag{{name}};
		}
		{{/isReadOnly}}
		{{/conditionalSerialization}}
		{{/isEnum}}
		{{/vars}}
		{{#vars}}
		{{^isInherited}}
		{{^isEnum}}
		public {{{dataType}}} {{name}} { get; {{#isReadOnly}}private {{/isReadOnly}}set; }
		{{/isEnum}}
		{{/isInherited}}
		{{/vars}}
		{{#isAdditionalPropertiesTrue}}
		/// <summary>
		/// Gets or Sets additional properties
		/// </summary>
		[JsonExtensionData]
		public IDictionary<string, object> AdditionalProperties { get; set; }
		{{/isAdditionalPropertiesTrue}}
}

{{#validatable}}
{{>validatable}}
{{/validatable}}
