{
	"$schema": "./node_modules/@angular/cli/lib/config/schema.json",
	"version": 1,
	"newProjectRoot": "projects",
	"projects": {
		"yaverlib": {
			"projectType": "library",
			"root": "projects/yaverlib",
			"sourceRoot": "projects/yaverlib/src",
			"prefix": "yaver",
			"architect": {
				"build": {
					"builder": "@angular-devkit/build-angular:ng-packagr",
					"options": {
						"tsConfig": "projects/yaverlib/tsconfig.lib.json",
						"project": "projects/yaverlib/ng-package.json"
					}
				}
			}
		}
	},
	"defaultProject": "yaverlib"
}
