{
  "name": "{{{npmName}}}",
  "version": "{{{npmVersion}}}",
  "description": "OpenAPI client for {{{npmName}}}",
  "author": "OpenAPI-Generator Contributors",
  "peerDependencies": {
    "@angular/core": "^{{ngVersion}}",
    "@angular/common": "^{{ngVersion}}",
    "rxjs": "^{{rxjsVersion}}"
  },
  "devDependencies": {
    "typescript": "{{{tsVersion}}}"
  },
  "sideEffects": false
}
