{
  "name": "{{{npmName}}}",
  "version": "{{{npmVersion}}}",
  "description": "OpenAPI client for {{{npmName}}}",
  "author": "Yaver OpenAPI-Generator",
  "peerDependencies": {
    "@angular/core": "^{{ngVersion}}",
    "@angular/common": "^{{ngVersion}}",
    "rxjs": "^{{rxjsVersion}}"
  },
  "devDependencies": {
    "ng-packagr":  "^{{ngVersion}}",
    "typescript": "{{{tsVersion}}}"
  }
}
