{
  "name": "{{{npmName}}}",
  "version": "{{{npmVersion}}}",
  "description": "OpenAPI client for {{{npmName}}}",
  "author": "OpenAPI-Generator Contributors",
  "repository": {
    "type": "git",
    "url": "https://{{gitHost}}/{{gitUserId}}/{{gitRepoId}}.git"
  },
  "keywords": [
    "openapi-client",
    "openapi-generator"
  ],
  "license": "Unlicense",
  "scripts": {
    "build": "ng build"
  },
  "peerDependencies": {
    "@angular/core": "^{{ngVersion}}",
    "rxjs": "^{{rxjsVersion}}"
  },
  "devDependencies": {
    "@angular-devkit/build-angular": "^{{ngVersion}}",
    "@angular/common": "^{{ngVersion}}",
    "@angular/compiler": "^{{ngVersion}}",
    "@angular/compiler-cli": "^{{ngVersion}}",
    "@angular/core": "^{{ngVersion}}",
    "@angular/platform-browser": "^{{ngVersion}}",
    "ng-packagr":  "^{{ngVersion}}",
    "rxjs": "^{{rxjsVersion}}",
    "typescript": "{{{tsVersion}}}",
    "zone.js": "^{{zonejsVersion}}"
  }
}
