{{>visibility}} readonly struct {{classname}}
{
{{#vars}}
  {{#items.isEnum}}
  {{#items}}
  {{^complexType}}
{{>modelInnerEnum}}
  {{/complexType}}
  {{/items}}
  {{/items.isEnum}}
  {{#isEnum}}
  {{^complexType}}
{{>modelInnerEnum}}
  {{/complexType}}
  {{/isEnum}}
{{/vars}}
{{#vendorExtensions.x-yaver-has-property-initializers}}

  public {{classname}}()
  {
  }
{{/vendorExtensions.x-yaver-has-property-initializers}}
{{#vars}}
  {{#isEnum}}
  /// <summary>
  /// {{description}}{{^description}}Gets or Sets {{{name}}}{{/description}}
  /// </summary>
  {{#description}}
  /// <value>{{.}}</value>
  {{/description}}
  {{#example}}
  /// <example>{{.}}</example>
  {{/example}}
  {{^conditionalSerialization}}

  public {{{vendorExtensions.x-yaver-friendly-type}}}{{^required}}?{{/required}} {{name}} { get; init; }
  {{#isReadOnly}}

  /// <summary>
  /// Returns false as {{name}} should not be serialized given that it's read-only.
  /// </summary>
  /// <returns>false (boolean)</returns>
  public bool ShouldSerialize{{name}}()
  {
    return false;
  }
  {{/isReadOnly}}
  {{/conditionalSerialization}}
  {{#conditionalSerialization}}
  {{^isReadOnly}}

  public {{{vendorExtensions.x-yaver-friendly-type}}}{{^required}}?{{/required}} {{name}}
  {
    get => _{{name}};
    set
    {
      _{{name}} = value;
      _flag{{name}} = true;
    }
  }

  private {{{vendorExtensions.x-yaver-friendly-type}}}{{^required}}?{{/required}} _{{name}};
  private bool _flag{{name}};

  /// <summary>
  /// Returns false as {{name}} should not be serialized given that it's read-only.
  /// </summary>
  /// <returns>false (boolean)</returns>
  public bool ShouldSerialize{{name}}()
  {
    return _flag{{name}};
  }
  {{/isReadOnly}}
  {{/conditionalSerialization}}
  {{/isEnum}}
{{/vars}}
{{#vars}}
  {{^isInherited}}
  {{^isEnum}}
  {{#required}}{{#vendorExtensions.x-yaver-string-type}}
  private readonly string? _{{name}};
  public string {{name}}
  {
    get => _{{name}} ?? string.Empty;
    {{#isReadOnly}}private {{/isReadOnly}}init => _{{name}} = value;
  }
  {{/vendorExtensions.x-yaver-string-type}}{{/required}}{{^required}}{{! keep default generation below for optional values }}{{/required}}{{^vendorExtensions.x-yaver-string-type}}
  public {{{vendorExtensions.x-yaver-friendly-type}}}{{^required}}?{{/required}} {{name}} { get; {{#isReadOnly}}private {{/isReadOnly}}init; }{{#required}}{{^vendorExtensions.x-yaver-value-type}} = default!;{{/vendorExtensions.x-yaver-value-type}}{{/required}}
  {{/vendorExtensions.x-yaver-string-type}}
  {{/isEnum}}
  {{/isInherited}}
{{/vars}}
{{#isAdditionalPropertiesTrue}}
  /// <summary>
  /// Gets or Sets additional properties
  /// </summary>
  [JsonExtensionData]
  public IDictionary<string, JsonElement>? AdditionalProperties { get; init; }
{{/isAdditionalPropertiesTrue}}
}

{{#validatable}}
{{#vendorExtensions.x-yaver-has-validation-rules}}
{{>validatable}}
{{/vendorExtensions.x-yaver-has-validation-rules}}
{{/validatable}}
