using FluentValidation;
{{#splitSchemas}}using {{schemasPackageName}};{{/splitSchemas}}{{^splitSchemas}}using {{packageName}}.{{modelPackage}};{{/splitSchemas}}

namespace {{packageName}}.{{baseName}}.Service;
{{#operations}}
{{#operation}}

	{{#hasParams}}
	public class {{operationIdCamelCase}}Command : IRpcCommand<Result<{{{vendorExtensions.successResponseModel}}}>> {
		{{#pathParams}}
		/// <summary>
		/// {{description}}
		/// </summary>
		public {{dataType}}{{^required}}{{#isString}}?{{/isString}}{{^isString}}{{^isPrimitiveType}}?{{/isPrimitiveType}}{{/isString}}{{/required}} {{paramName}} { get; set; }{{#required}}{{#isString}} = default!;{{/isString}}{{^isString}}{{^isPrimitiveType}} = default!;{{/isPrimitiveType}}{{/isString}}{{/required}}
		{{/pathParams}}
		{{#headerParams}}
		/// <summary>
		/// {{description}}
		/// </summary>
		public {{dataType}}{{^required}}{{#isString}}?{{/isString}}{{^isString}}{{^isPrimitiveType}}?{{/isPrimitiveType}}{{/isString}}{{/required}} {{paramName}} { get; set; }{{#required}}{{#isString}} = default!;{{/isString}}{{^isString}}{{^isPrimitiveType}} = default!;{{/isPrimitiveType}}{{/isString}}{{/required}}
		{{/headerParams}}
		{{#queryParams}}
		/// <summary>
		/// {{description}}
		/// </summary>
		public {{dataType}}{{^required}}{{#isString}}?{{/isString}}{{^isString}}{{^isPrimitiveType}}?{{/isPrimitiveType}}{{/isString}}{{/required}} {{paramName}} { get; set; }{{#defaultValue}} = {{{defaultValue}}};{{/defaultValue}}{{^defaultValue}}{{#required}}{{#isString}} = default!;{{/isString}}{{^isString}}{{^isPrimitiveType}} = default!;{{/isPrimitiveType}}{{/isString}}{{/required}}{{/defaultValue}}
		{{/queryParams}}
		{{#bodyParam}}
		public {{dataType}} {{paramName}} { get; set; } = default!;
		{{/bodyParam}}
		{{#formParams}}
		/// <summary>
		/// {{description}}
		/// </summary>
		{{#isFile}}
		// public Microsoft.AspNetCore.Http.IFormFile {{paramName}} { get; set; }
		public FileData{{^required}}?{{/required}} {{paramName}} { get; set; }{{#required}} = FileData.Empty{{/required}};
		{{/isFile}}
		{{^isFile}}
		public {{dataType}}{{^required}}{{#isString}}?{{/isString}}{{^isString}}{{^isPrimitiveType}}?{{/isPrimitiveType}}{{/isString}}{{/required}} {{paramName}} { get; set; }{{#required}}{{#isString}} = default!;{{/isString}}{{^isString}}{{^isPrimitiveType}} = default!;{{/isPrimitiveType}}{{/isString}}{{/required}}
		{{/isFile}}
		{{/formParams}}
	}
	{{/hasParams}}
	{{^hasParams}}
	public record {{operationIdCamelCase}}Command : IRpcCommand<Result<{{{vendorExtensions.successResponseModel}}}>>;
	{{/hasParams}}
{{/operation}}
{{/operations}}

{{#operations}}
{{#operation}}
	{{#vendorExtensions.x-yaver-has-operation-validation}}
	public class {{operationIdCamelCase}}CommandValidator : Validator<{{operationIdCamelCase}}Command> {
		public {{operationIdCamelCase}}CommandValidator () {
			{{#bodyParam}}
			RuleFor(b => b.{{paramName}}).NotNull(){{#vendorExtensions.x-yaver-has-validation-rules}}.SetValidator(new {{dataType}}Validator()){{/vendorExtensions.x-yaver-has-validation-rules}};
			{{/bodyParam}}
			{{#vendorExtensions.x-yaver-validate-date-range}}
			RuleFor(x => x.To)
				.GreaterThanOrEqualTo(x => x.From)
				.WithMessage("'To' must be greater than or equal to 'From'.");
			{{/vendorExtensions.x-yaver-validate-date-range}}
			{{#vendorExtensions.x-yaver-validate-offset}}
			RuleFor(x => x.Offset)
				.GreaterThanOrEqualTo(0);
			{{/vendorExtensions.x-yaver-validate-offset}}
			{{#vendorExtensions.x-yaver-validate-limit}}
			RuleFor(x => x.Limit)
				.GreaterThan(0)
				.LessThanOrEqualTo(100);
			{{/vendorExtensions.x-yaver-validate-limit}}
		}
	}
	{{/vendorExtensions.x-yaver-has-operation-validation}}
{{/operation}}
{{/operations}}
